In [2]:
import pandas as pd

In [6]:
# Read the data
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
# Count Race
race_count = df['race'].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [5]:
# Avarage age of me
average_age_men = df.groupby('sex')['age'].mean().values[1]
print(average_age_men)

39.43354749885268

In [8]:
# Percentage of people who have a Bachelor's degree
percentage_bachelors = df[df['education'] == 'Bachelors'].shape[0] / df.shape[0] * 100
print(percentage_bachelors)

16.44605509658794

In [13]:
# Percentage of people with advanced education make more than 50K
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_rich = (higher_education.shape[0] / (higher_education.shape[0] + lower_education.shape[0])) * 100
lower_education_rich = (lower_education.shape[0] / (higher_education.shape[0] + lower_education.shape[0])) * 100
print(higher_education_rich, lower_education_rich)

23.006050182733944 76.99394981726606

In [14]:
# Minimum number of hours a person works per week
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

In [17]:
# Percentage of the people who work the minimum number of hours per week
num_min_workers = df[df['hours-per-week'] == min_work_hours].shape[0]
rich_percentage = df[df['hours-per-week'] == min_work_hours][df['salary'] == '>50K'].shape[0] / num_min_workers * 100
print(rich_percentage)

10.0

/tmp/ipykernel_7557/369156204.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rich_percentage = df[df['hours-per-week'] == min_work_hours][df['salary'] == '>50K'].shape[0] / num_min_workers * 100

In [18]:
# Country with the highest percentage of people that earn >50K
highest_earning_country = (df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()).idxmax()
highest_earning_country_percentage = (df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()).max() * 100

Iran

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[df['native-country'] == 'India'][df['salary'] == '>50K']['occupation'].value_counts().idxmax()